version: "3.9"

services:
  api:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: express_dev
    ports:
      - "3000:3000"
      - "51212:51212"
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:3000/health",
        ]
    volumes:
      - .:/app
      - /app/node_modules
      # - node_modules:/app/node_modules
    command: npm run dev
    depends_on:
      - db
      - redis

  redis:
    image: redis:8-alpine
    ports:
      - "6379:6379"
    command: ["redis-server", "--save", "", "--appendonly", "no"]
    volumes:
      - redis_dev_data:/data

  db:
    image: postgres:16-alpine
    container_name: postgres_dev
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pg_dev_data:/var/lib/postgresql/data
    mem_limit: 512m
    command: >
      postgres
      -c shared_buffers=128MB
      -c work_mem=4MB
      -c maintenance_work_mem=64MB
      -c max_connections=50
      -c effective_cache_size=256MB

volumes:
  pg_dev_data:
  redis_dev_data:
  node_modules:
