version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: express_prod
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      DATABASE_URL: postgres://postgres:strongpassword@db:5432/proddb
    depends_on:
      - db
    restart: always

  db:
    image: postgres:16-alpine
    container_name: postgres_prod
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: strongpassword
      POSTGRES_DB: proddb
    volumes:
      - pg_prod_data:/var/lib/postgresql/data
    restart: always
    deploy:
      resources:
        limits:
          memory: 1G

volumes:
  pg_prod_data:
