services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: express_prod
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always

  redis:
    image: redis:8-alpine
    ports:
      - "6379:6379"
    command:
      [
        "redis-server",
        "--appendonly",
        "yes",
        "--appendfilename",
        "appendonly.aof",
      ]
    volumes:
      - redis_data:/data

  db:
    image: postgres:16-alpine
    container_name: postgres_prod
    env_file:
      - .env
    volumes:
      - pg_prod_data:/var/lib/postgresql/data
    restart: always
    deploy:
      resources:
        limits:
          memory: 1G

volumes:
  pg_prod_data:
  redis_data:
