version: "3.9"

services:
  api:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: express_dev
    ports:
      - "3000:3000"
      - "51212:51212"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      NODE_ENV: ${NODE_ENV}
      DATABASE_URL: ${DATABASE_URL}
    command: npm run dev
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    container_name: postgres_dev
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pg_dev_data:/var/lib/postgresql/data
    mem_limit: 512m
    command: >
      postgres
      -c shared_buffers=128MB
      -c work_mem=4MB
      -c maintenance_work_mem=64MB
      -c max_connections=50
      -c effective_cache_size=256MB

volumes:
  pg_dev_data:
