# name: Deploy

# on:
#   push:
#     branches:
#       - main

# jobs:
#   deploy:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v3
#       - name: Install Node.js
#         uses: actions/setup-node@v3
#         with:
#           node-version: 20
#       - run: npm install
#       - run: npx prisma migrate deploy
#       - run: npx prisma generate
#       - run: npm run build
#       - name: Restart Server
#         run: pm2 restart my-app || systemctl restart my-app.service
